MAILING_LIST_SQL_CONNECTION_STRING=<your-connection-string>
POSTCODES_GEOJSON_COSMOSDB_ENDPOINT=<endpoint>:<port>/
SHARD_MAP_DATABASE=<postcode-shardmap-name>
SHARD_MAP_CONTAINER=<postcode-area-container-name>
POSTCODE_DATABASE_SUFFIX=<postcode-area-database-suffix>
POSTCODE_AREA_CONTAINER_SUFFIX=<postcode-area-container-suffix>
POSTCODE_DISTRICT_CONTAINER_SUFFIX=<postcode-district-container-suffix>
POSTCODE_FULL_CONTAINER_SUFFIX=<postcode-full-container-suffix>
REDIS_DATABASE_HOSTNAME=<redis-host-name>
REDIS_DATABASE_PORT=<redis-port>
REDIS_POSTCODES_SUFFIX=<redis-postcodes-suffix>
REDIS_SEVERITY_SUFFIX=<redis-severity-suffix>