pyodbc
pydantic~=2.11.7
azure-identity
python-dotenv~=1.1.1
sqlalchemy~=2.0.43
requests
python-multipart
pytest
httpx
azure-common
azure-cosmos
geojson
shapely
aiohttp
redis
rq
schedule
pika
email_validator~=2.2.0
azure-core~=1.35.0